body{
    
    font-family: 'Poppins', sans-serif;
     background-image: url('typing1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

    
}



